<span class="mdl-list__item-primary-content">
  <span class="mdl-list__item-avatar">
    <img
      class="app--circularize app--full-width mdl-typography--caption"
      src="/images/{{user.uiImage}}"
      alt="{{user.username}} profile picture"/>
  </span>
  <span>{{user.username}}</span>
  <span class="mdl-list__item-sub-title">
    {{user.state.name}}
  </span>
</span>

{{yield}}
