<div class="mdl-dialog__content">
  <div class="mdl-textfield mdl-js-textfield  mdl-textfield--floating-label">
    {{input
      type="text"
      class="mdl-textfield__input"
      value=tempBot.username
    }}

    <label class="mdl-textfield__label">Name</label>
  </div>

  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    {{input
      type="text"
      class="mdl-textfield__input"
      value=tempBot.origin
    }}

    <label class="mdl-textfield__label">Origin</label>
  </div>

  {{#unless bot.isNew}}
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    {{input
      type="text"
      disabled="disabled"
      class="mdl-textfield__input"
      value=tempBot.token
    }}

    <label class="mdl-textfield__label">Token value</label>
  </div>
  {{/unless}}
</div>

<div class="mdl-dialog__actions">
  <button class="mdl-button mdl-js-button" onclick={{action 'save'}}>
    Submit
  </button>
  <button class="mdl-button mdl-js-button" onclick={{action 'close'}}>
    Close
  </button>
</div>
