<div class="app-chat-room">
  <div class="app-chat-room__messages">
    {{chat-message}}
    {{chat-message}}
    {{chat-message}}
    {{chat-message}}
    {{chat-message}}
    {{chat-message}}
    {{chat-message}}
    {{chat-message}}
    {{chat-message}}
    {{chat-message}}
    {{chat-message}}
    {{chat-message}}
    {{chat-message}}
    {{chat-message}}
    {{chat-message}}
    {{chat-message}}
  </div>
  <div class="app-chat-room__message mdl-color--grey-50" contenteditable="true">
  </div>
</div>