<div class="chat-room-info__section">
  <div class="mdl-list">
    <span class="mdl-list__item">
      <span class="mdl-list__item-primary-content">
        <span class="mdl-list__item-avatar">
          <img class="app--circularize app--full-width" src="/images/{{room.uiImage}}" alt="User profile picture"/>
        </span>
        <span>{{room.uiName}}</span>
      </span>
      <span class="mdl-list__item-secondary-action">
        {{#link-to 'chat'}}<i class="material-icons">close</i>{{/link-to}}
      </span>
    </span>
  </div>
</div>

<div class="chat-room-info__section">
  <div class="app-room-info__actions">
    <div class="app-room-info__action">
      <i class="material-icons" tabindex="0" onclick={{action "showInviteDialog"}}>add</i>
    </div>
    <div class="app-room-info__action">
      <i class="material-icons" tabindex="0">mic</i>
    </div>
    <div class="app-room-info__action">
      <i class="material-icons" tabindex="0">videocam</i>
    </div>
    {{#unless room.private}}
      <div class="app-room-info__action">
        <i class="material-icons" tabindex="0" onclick={{action "leaveRoom"}}>close</i>
      </div>
    {{/unless}}
  </div>
</div>

<div class="chat-room-info__section">
  <h2 class="chat-room-info__section-title mdl-typography--caption mdl-typography--text-uppercase">Members</h2>

  <hr/>

  <ul class="mdl-list">
    {{#each room.users as |user| }}
      {{chat-colleague-item user=user}}
    {{/each}}
  </ul>
</div>

{{chat-invite-dialog room=room}}
